.contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
  padding: 0 3px;
}

.content--card {
  width: 49% !important;
  height: 47.7vw !important;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 17px;
  margin-bottom: 10px;

  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);

  transition: all 0.3s ease-in-out;
}

.content--card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.card--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 30%;
  margin-top: 15px;
  color: white;
  font-size: calc(10px + 1vw);
  border-radius: inherit;
}

.card--info button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  color: black;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  cursor: pointer;
}

.bar-left small {
  display: none;
}

@media screen and (min-width: 571px) {
  .content--card {
    width: 32% !important;
    height: 31vw !important;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 17px;
  }
}

@media screen and (min-width: 710px) {
  .contents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .content--card {
    width: 49.2% !important;
    height: 47vw !important;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 17px;
    margin-bottom: 10px;
  }

  .card--info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 30%;
    /* margin-top: 15px; */
    color: white;
    font-size: 16px;
  }

  .card--info button {
    background: white;
    border: none;
    color: black;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 100px;
  }

  .bar-left small {
    display: block;
  }
}

@media screen and (min-width: 880px) {
  .content--card {
    width: 32.8% !important;
    height: 32.8vw !important;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 17px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1020px) {
  .content--card {
    width: 331px !important;
    height: 331px !important;
    margin-bottom: 10px;
  }
}
